<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ul class="flex-outer">
      <div *ngFor="let question of questions" class="form-row">
        <li>
          <df-question [question]="question" [form]="form"></df-question>
        </li>
      </div>
      <li><hr></li>
      <li>
        <button class="mdl-button mdl-js-button mdl-button--raised" type="submit" [disabled]="!form.valid">Save</button>
      </li>
    </ul>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
