<div class="mdl-card mdl-shadow--2dp">
  <div class="header">
    <h5>{{title}}</h5>
    <div>{{description}}</div>
  </div>
  <div class="mdl-card__actions mdl-card--border"></div>
  <div class="mdl-card__supporting-text content">
    <task-stats [all]="(model | async)?.total" [done]="(model | async)?.done" [open]="(model | async)?.open" [percentOpen]="this.percentDone | async | percent:'1.0-2'">
    </task-stats>
    <task-list [tasks]="(model | async)?.tasks" (tasksUpdated)="updateTasks($event)"></task-list>
  </div>
</div>
