.mdl-data-table {
  width: 310px;
}
.mdl-data-table td {
  padding: 7px 4px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#container {
   display: flex;
   flex-direction: row;
}

#left-pane {
  margin: 5px;
  padding: 5px;
  min-width: 425px;
  height: 425px;
  overflow-y: auto;
}

#right-pane {
  margin: 5px;
  padding: 5px 5px 5px 10px;
  min-width: 425px;
  height: 425px;
  overflow-y: auto;
}

.card {
  width: 400px;
  margin: 5px;
  overflow-y: autos;
}

 table.person-table tr {
   cursor: pointer;
}

.mdl-button--small {
    min-width: 1%;
    padding: 0px;
    height: 20px;
}

.icon {
  font-size: 20px;
  vertical-align: top;
}
.selected {
  background-color: #F5F5F5;
}

