<form #form="ngForm" (ngSubmit)="logForm(form.value)">
    <fieldset ngModelGroup="name">
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" id="txt" name="firstname" class="mdl-textfield__input" ngModel required>
        <label class="mdl-textfield__label" for="txt">First Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" id="txt" name="last_name" class="mdl-textfield__input" ngModel required>
        <label class="mdl-textfield__label" for="txt">Last Name</label>
      </div>
    </fieldset>

    <fieldset ngModelGroup="address">
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" id="txt" name="street" class="mdl-textfield__input" ngModel required>
        <label class="mdl-textfield__label" for="txt">Street</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" id="txt" name="zip" class="mdl-textfield__input" ngModel required>
        <label class="mdl-textfield__label" for="txt">Zip</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input type="text" id="txt" name="city" class="mdl-textfield__input" ngModel required>
        <label class="mdl-textfield__label" for="txt">City</label>
      </div>
    </fieldset>

    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised" [disabled]="!form.valid">Submit</button>
</form>
